<a href="https://colab.research.google.com/github/SaurabhSRP/02-Recommendation-System-Projects/blob/main/Movies_Recommendation_System_(using_TF_IDF_and_Cosine_Similarity).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**We will build Movies recommendation System based on Movie Overviews using Cosine Similarity**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
credits_df=pd.read_csv("/content/drive/MyDrive/datasets/Recommendation system  dataset/MovieRecom/tmdb_5000_credits.csv")
credits_df.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies_df=pd.read_csv("/content/drive/MyDrive/datasets/Recommendation system  dataset/MovieRecom/tmdb_5000_movies.csv")
movies_df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [ ]:
print("Credits:",credits_df.shape)
print("Movies Dataframe:",movies_df.shape)

Credits: (4803, 4)
Movies Dataframe: (4803, 20)

###**Merge the both database based on IDs**

In [ ]:
credits_column_renamed = credits_df.rename(index=str, columns={"movie_id": "id"})
movies_df_merge = movies_df.merge(credits_column_renamed, on='id')
movies_df_merge.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies_cleaned_df = movies_df_merge.drop(columns=['homepage', 'title_x', 'title_y', 'status','production_countries'])
movies_cleaned_df.head()

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_companies,release_date,revenue,runtime,spoken_languages,tagline,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","At the end of the world, the adventure begins.",6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",A Plan No One Escapes,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",The Legend Ends,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","Lost in our world, found in another.",6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
movies_cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   id                    4803 non-null   int64
 3   keywords              4803 non-null   object
 4   original_language     4803 non-null   object
 5   original_title        4803 non-null   object
 6   overview              4800 non-null   object
 7   popularity            4803 non-null   float64
 8   production_companies  4803 non-null   object
 9   release_date          4802 non-null   object
 10  revenue               4803 non-null   int64
 11  runtime               4801 non-null   float64
 12  spoken_languages      4803 non-null   object
 13  tagline               3959 non-null   object
 14  vote_average          4803 non-null   float64
 15  vote_count            4803 non-null   int64
 16  cast                  4803 non-null   object
 17  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(11)
memory usage: 712.9+ KB

#**Lets build our Recommendation algorithm**

In [ ]:
movies_cleaned_df.head(1)['overview']

0    In the 22nd century, a paraplegic Marine is di...
Name: overview, dtype: object

###We will use TF-IDf to convert word to vectors of the overview feature of all movies

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer ##this is a NLP algo

tfv=TfidfVectorizer(min_df=3,max_features=None,strip_accents='unicode',analyzer='word',token_pattern=r'\w{1,}',ngram_range=(1,3),stop_words='english')

#filling NaNs with empty strings
movies_cleaned_df['overview']=movies_cleaned_df['overview'].fillna('')

In [ ]:
##fitting the TF-IDF on the 'overview' text
tfv_matrix=tfv.fit_transform(movies_cleaned_df['overview'])

In [ ]:
tfv_matrix.shape

(4803, 10417)

###we will be using Consine similarity formulation to find the similarity scores

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

#compute the sigmoid kernel ##which gives values similar to co relation 
cosine_sim=cosine_similarity(tfv_matrix,tfv_matrix)

In [ ]:
cosine_sim[0]

array([1., 0., 0., ..., 0., 0., 0.])

In [ ]:
##Reverse mapping of indices and movie titles 
indices=pd.Series(movies_cleaned_df.index,index=movies_cleaned_df['original_title']).drop_duplicates()

In [ ]:

indices

original_title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [ ]:
print(indices['Newlyweds']) 
print(cosine_sim[indices['Newlyweds']])

4799
[0.         0.         0.0055364  ... 0.00417016 0.         0.01560246]

####We will enumerate all the sigmoid similarity scores from zero to all the values available such that  Cosine similarity scores list will also have its own index value

In [ ]:
list(enumerate(cosine_sim[indices['Newlyweds']]))

[(0, 0.0),
 (1, 0.0),
 (2, 0.005536395241932141),
 (3, 0.009933162166236003),
 (4, 0.010466718716066956),
 (5, 0.004237533450170518),
 (6, 0.016447127257647038),
 (7, 0.004737940184782887),
 (8, 0.00581354269562304),
 (9, 0.01320312985186644),
 (10, 0.0),
 (11, 0.0),
 (12, 0.0),
 (13, 0.0),
 (14, 0.0),
 (15, 0.0),
 (16, 0.0049324373120938165),
 (17, 0.020077921139351446),
 (18, 0.0031262523073710496),
 (19, 0.008738139148007256),
 (20, 0.0033952175743822027),
 (21, 0.020520976138376845),
 (22, 0.0),
 (23, 0.006756945355465072),
 (24, 0.0),
 (25, 0.0),
 (26, 0.0),
 (27, 0.007386673839431933),
 (28, 0.0),
 (29, 0.003705587212412733),
 (30, 0.004470150788534636),
 (31, 0.007304985872119524),
 (32, 0.0),
 (33, 0.006764970021093332),
 (34, 0.0),
 (35, 0.0),
 (36, 0.0),
 (37, 0.005927614782765157),
 (38, 0.003453693197792698),
 (39, 0.004992241317808037),
 (40, 0.0),
 (41, 0.0),
 (42, 0.004539150894961828),
 (43, 0.00487160870921691),
 (44, 0.0),
 (45, 0.0),
 (46, 0.0),
 (47, 0.0),
 (48, 0.0),
 (49, 0.011680672190183188),
 (50, 0.0),
 (51, 0.007012993647288746),
 (52, 0.0051921442434134605),
 (53, 0.00877476203909122),
 (54, 0.0),
 (55, 0.006704151938002919),
 (56, 0.0),
 (57, 0.004120857457633928),
 (58, 0.008247690540617211),
 (59, 0.013042425019872054),
 (60, 0.0),
 (61, 0.0),
 (62, 0.0),
 (63, 0.0047667964487616635),
 (64, 0.007411971514990013),
 (65, 0.0),
 (66, 0.0),
 (67, 0.0),
 (68, 0.0),
 (69, 0.0),
 (70, 0.005076264420539576),
 (71, 0.0047492883429186275),
 (72, 0.0),
 (73, 0.0),
 (74, 0.0),
 (75, 0.005229970624628664),
 (76, 0.0),
 (77, 0.007749140662617622),
 (78, 0.0),
 (79, 0.0),
 (80, 0.0),
 (81, 0.013299662376904895),
 (82, 0.0),
 (83, 0.0),
 (84, 0.0036193853607745154),
 (85, 0.00278151240487972),
 (86, 0.0049874297030759775),
 (87, 0.0),
 (88, 0.0),
 (89, 0.007603971040082419),
 (90, 0.0),
 (91, 0.0),
 (92, 0.0),
 (93, 0.012404305629640969),
 (94, 0.0),
 (95, 0.0),
 (96, 0.011380592252575173),
 (97, 0.004310454289868751),
 (98, 0.0),
 (99, 0.008706302699721554),
 (100, 0.0),
 (101, 0.0),
 (102, 0.0),
 (103, 0.0),
 (104, 0.0),
 (105, 0.007577557159992522),
 (106, 0.0),
 (107, 0.0),
 (108, 0.0051595478448279546),
 (109, 0.0),
 (110, 0.004163055912197739),
 (111, 0.0),
 (112, 0.0),
 (113, 0.004990612578036355),
 (114, 0.0),
 (115, 0.015091992828663175),
 (116, 0.0),
 (117, 0.00750085064432753),
 (118, 0.00594147095404847),
 (119, 0.0),
 (120, 0.0),
 (121, 0.005237294224922989),
 (122, 0.0),
 (123, 0.0),
 (124, 0.009733701817112169),
 (125, 0.005088454190900009),
 (126, 0.0),
 (127, 0.004009323009375018),
 (128, 0.0),
 (129, 0.004502499382161971),
 (130, 0.01011053220215301),
 (131, 0.0),
 (132, 0.004014236595389357),
 (133, 0.0),
 (134, 0.0),
 (135, 0.0),
 (136, 0.0044587379089031905),
 (137, 0.0026613547330202737),
 (138, 0.0),
 (139, 0.0),
 (140, 0.00833477121787886),
 (141, 0.0),
 (142, 0.0),
 (143, 0.0),
 (144, 0.0),
 (145, 0.0),
 (146, 0.0),
 (147, 0.004941178941590923),
 (148, 0.0),
 (149, 0.0),
 (150, 0.011161732395158143),
 (151, 0.0),
 (152, 0.0),
 (153, 0.0),
 (154, 0.0),
 (155, 0.024377093945873177),
 (156, 0.004701439058481159),
 (157, 0.0),
 (158, 0.0),
 (159, 0.0),
 (160, 0.0039052724983178193),
 (161, 0.0),
 (162, 0.0),
 (163, 0.0),
 (164, 0.010436802929917945),
 (165, 0.0),
 (166, 0.0),
 (167, 0.0),
 (168, 0.0),
 (169, 0.008099315950419544),
 (170, 0.016552079981598113),
 (171, 0.004811541144846126),
 (172, 0.0),
 (173, 0.0),
 (174, 0.0),
 (175, 0.005022351375123595),
 (176, 0.0),
 (177, 0.0),
 (178, 0.0),
 (179, 0.0),
 (180, 0.004577564637711848),
 (181, 0.005069017786540202),
 (182, 0.0),
 (183, 0.0036695062529158327),
 (184, 0.004416997434404311),
 (185, 0.0),
 (186, 0.0),
 (187, 0.0),
 (188, 0.004453371668527272),
 (189, 0.0),
 (190, 0.0),
 (191, 0.0),
 (192, 0.0),
 (193, 0.01066754513458201),
 (194, 0.0),
 (195, 0.0),
 (196, 0.0),
 (197, 0.017266906183110386),
 (198, 0.0),
 (199, 0.008854048428846625),
 (200, 0.0),
 (201, 0.006851090692754924),
 (202, 0.006245898538762216),
 (203, 0.00498201028048205),
 (204, 0.0),
 (205, 0.0),
 (206, 0.0),
 (207, 0.005270842504265811),
 (208, 0.0),
 (209, 0.0),
 (210, 0.0),
 (211, 0.0),
 (212, 0.0),
 (213, 0.0),
 (214, 0.0),
 (215, 0.0),
 (216, 0.006990233445052402),
 (217, 0.0074110417883309024),
 (218, 0.0),
 (219, 0.0),
 (220, 0.0),
 (221, 0.005233312814092183),
 (222, 0.0),
 (223, 0.004537754395137368),
 (224, 0.0),
 (225, 0.0),
 (226, 0.0),
 (227, 0.04007525234190056),
 (228, 0.004395351114613766),
 (229, 0.005375691206818423),
 (230, 0.0),
 (231, 0.0),
 (232, 0.0),
 (233, 0.0),
 (234, 0.005521460343189157),
 (235, 0.0),
 (236, 0.0),
 (237, 0.07250541981984786),
 (238, 0.003923382348361121),
 (239, 0.0),
 (240, 0.004925102935863774),
 (241, 0.0),
 (242, 0.10177033538786642),
 (243, 0.004456955397466921),
 (244, 0.0),
 (245, 0.005636518762483637),
 (246, 0.0),
 (247, 0.0),
 (248, 0.005195566021489879),
 (249, 0.0),
 (250, 0.0),
 (251, 0.0),
 (252, 0.004664069242598068),
 (253, 0.0036931960070561813),
 (254, 0.0),
 (255, 0.0),
 (256, 0.0),
 (257, 0.005299642415460193),
 (258, 0.03079225114447797),
 (259, 0.0396810800096716),
 (260, 0.014387241733772257),
 (261, 0.011838645004535742),
 (262, 0.0),
 (263, 0.0),
 (264, 0.004020780687044043),
 (265, 0.005998466050677545),
 (266, 0.0),
 (267, 0.0),
 (268, 0.0),
 (269, 0.0),
 (270, 0.0),
 (271, 0.0),
 (272, 0.0),
 (273, 0.004515473352115569),
 (274, 0.002962394437302215),
 (275, 0.0),
 (276, 0.0),
 (277, 0.003911986469725646),
 (278, 0.0),
 (279, 0.0),
 (280, 0.012752663329235367),
 (281, 0.0),
 (282, 0.0),
 (283, 0.0057607658435516445),
 (284, 0.010437993266750198),
 (285, 0.007798532907023566),
 (286, 0.017034458022407828),
 (287, 0.0),
 (288, 0.0),
 (289, 0.01498322744853495),
 (290, 0.0),
 (291, 0.004312315772779966),
 (292, 0.014464044778086575),
 (293, 0.0),
 (294, 0.0),
 (295, 0.006125340043850481),
 (296, 0.004636619663398095),
 (297, 0.004658918375500154),
 (298, 0.006491040700723212),
 (299, 0.0070719890808970546),
 (300, 0.0049162678810131715),
 (301, 0.0),
 (302, 0.01043924379290405),
 (303, 0.009334972010412754),
 (304, 0.0),
 (305, 0.0),
 (306, 0.0),
 (307, 0.0),
 (308, 0.0),
 (309, 0.0),
 (310, 0.010289465031040517),
 (311, 0.0),
 (312, 0.004699777139935968),
 (313, 0.0),
 (314, 0.01084009163206932),
 (315, 0.005008719588339712),
 (316, 0.004178760333647553),
 (317, 0.006811986877652203),
 (318, 0.003655503559983512),
 (319, 0.0),
 (320, 0.006255825430303659),
 (321, 0.0),
 (322, 0.0),
 (323, 0.0),
 (324, 0.0),
 (325, 0.0),
 (326, 0.005711610249391222),
 (327, 0.0),
 (328, 0.011422489166655654),
 (329, 0.011721018182897261),
 (330, 0.0),
 (331, 0.004819207364692575),
 (332, 0.005072025957081398),
 (333, 0.0),
 (334, 0.0),
 (335, 0.005142624155961417),
 (336, 0.0),
 (337, 0.0),
 (338, 0.007061533861746244),
 (339, 0.006350412096173414),
 (340, 0.0),
 (341, 0.005189438053588316),
 (342, 0.0038348969871193316),
 (343, 0.0072279272257579665),
 (344, 0.0),
 (345, 0.00822824591849746),
 (346, 0.009977644176600645),
 (347, 0.0),
 (348, 0.0),
 (349, 0.0),
 (350, 0.0),
 (351, 0.01048129913940529),
 (352, 0.0),
 (353, 0.008436863843242413),
 (354, 0.004673580705022236),
 (355, 0.0),
 (356, 0.0),
 (357, 0.0),
 (358, 0.006720618750136614),
 (359, 0.0),
 (360, 0.0),
 (361, 0.0057238501448333605),
 (362, 0.0),
 (363, 0.0),
 (364, 0.004710271154213008),
 (365, 0.0),
 (366, 0.013876340582562166),
 (367, 0.0),
 (368, 0.0),
 (369, 0.008309359188478258),
 (370, 0.006347300520721594),
 (371, 0.004320612626093552),
 (372, 0.0),
 (373, 0.0),
 (374, 0.0),
 (375, 0.0038481200889042243),
 (376, 0.004407469666370919),
 (377, 0.013961920153149777),
 (378, 0.00664660393554244),
 (379, 0.0),
 (380, 0.007496722333001066),
 (381, 0.006853654877792561),
 (382, 0.0),
 (383, 0.0),
 (384, 0.01673923790049783),
 (385, 0.0),
 (386, 0.0),
 (387, 0.0),
 (388, 0.0044160056903620815),
 (389, 0.0),
 (390, 0.006727871560352714),
 (391, 0.0),
 (392, 0.005524705827266374),
 (393, 0.004916112294975581),
 (394, 0.0),
 (395, 0.0),
 (396, 0.0),
 (397, 0.005395185263609021),
 (398, 0.00817091274217167),
 (399, 0.0),
 (400, 0.011607542808429279),
 (401, 0.0),
 (402, 0.009408541121431356),
 (403, 0.009347067093085068),
 (404, 0.0),
 (405, 0.0),
 (406, 0.003765350320927648),
 (407, 0.01510683043551996),
 (408, 0.0),
 (409, 0.005913670393629032),
 (410, 0.008575918124668762),
 (411, 0.0),
 (412, 0.01616159474607709),
 (413, 0.00481316710290337),
 (414, 0.0),
 (415, 0.0),
 (416, 0.0),
 (417, 0.0),
 (418, 0.0),
 (419, 0.004778682673371542),
 (420, 0.0),
 (421, 0.0),
 (422, 0.0),
 (423, 0.0),
 (424, 0.0),
 (425, 0.01042162543427288),
 (426, 0.003171313112632128),
 (427, 0.005134174370704217),
 (428, 0.0034438877839855363),
 (429, 0.0),
 (430, 0.0),
 (431, 0.0),
 (432, 0.004433826750248775),
 (433, 0.0),
 (434, 0.0),
 (435, 0.0),
 (436, 0.0),
 (437, 0.0),
 (438, 0.004546743828979889),
 (439, 0.005357538976331038),
 (440, 0.026766472369601103),
 (441, 0.005916924908560585),
 (442, 0.005520666929938794),
 (443, 0.0044407398960073455),
 (444, 0.0),
 (445, 0.005134121419131869),
 (446, 0.005044100665942552),
 (447, 0.004261071037140832),
 (448, 0.0),
 (449, 0.0),
 (450, 0.004676154224278625),
 (451, 0.0),
 (452, 0.0),
 (453, 0.0),
 (454, 0.0),
 (455, 0.0),
 (456, 0.003971638498866054),
 (457, 0.0),
 (458, 0.0),
 (459, 0.0),
 (460, 0.0),
 (461, 0.0),
 (462, 0.0),
 (463, 0.0),
 (464, 0.0),
 (465, 0.007167591527130245),
 (466, 0.0),
 (467, 0.003804410978549025),
 (468, 0.0),
 (469, 0.011713462325361688),
 (470, 0.0),
 (471, 0.0),
 (472, 0.0),
 (473, 0.004531102149251723),
 (474, 0.0),
 (475, 0.0),
 (476, 0.0),
 (477, 0.0),
 (478, 0.0),
 (479, 0.0),
 (480, 0.0),
 (481, 0.0),
 (482, 0.0),
 (483, 0.0),
 (484, 0.0),
 (485, 0.005649161010665073),
 (486, 0.0),
 (487, 0.0),
 (488, 0.0033126954511915542),
 (489, 0.0),
 (490, 0.0),
 (491, 0.0),
 (492, 0.0),
 (493, 0.0036238334982770246),
 (494, 0.0),
 (495, 0.007822829877133338),
 (496, 0.0),
 (497, 0.0),
 (498, 0.0),
 (499, 0.005014561213266672),
 (500, 0.004842335360986813),
 (501, 0.0),
 (502, 0.0),
 (503, 0.0),
 (504, 0.12405310248456604),
 (505, 0.0),
 (506, 0.0),
 (507, 0.0),
 (508, 0.0044672633484150355),
 (509, 0.0),
 (510, 0.005813643491997369),
 (511, 0.0),
 (512, 0.0),
 (513, 0.0),
 (514, 0.00451930947024946),
 (515, 0.008237208137725896),
 (516, 0.0),
 (517, 0.0),
 (518, 0.0),
 (519, 0.0),
 (520, 0.0),
 (521, 0.010329855479302473),
 (522, 0.0),
 (523, 0.013194204550148645),
 (524, 0.006242737733659973),
 (525, 0.004651108917745352),
 (526, 0.0),
 (527, 0.0),
 (528, 0.0),
 (529, 0.0),
 (530, 0.0),
 (531, 0.004054853090303963),
 (532, 0.030837415122924542),
 (533, 0.0),
 (534, 0.0),
 (535, 0.0),
 (536, 0.006527505434436541),
 (537, 0.0),
 (538, 0.0),
 (539, 0.0067345306080504016),
 (540, 0.0),
 (541, 0.0),
 (542, 0.0),
 (543, 0.0039743544244319395),
 (544, 0.0),
 (545, 0.0),
 (546, 0.0),
 (547, 0.0),
 (548, 0.004993087313209908),
 (549, 0.0),
 (550, 0.004956313527155025),
 (551, 0.008093933976911927),
 (552, 0.0),
 (553, 0.007320093313242436),
 (554, 0.0),
 (555, 0.0034405278486317804),
 (556, 0.006110378427891988),
 (557, 0.0051087155341032996),
 (558, 0.009281287512779702),
 (559, 0.0),
 (560, 0.011732003060252164),
 (561, 0.0),
 (562, 0.0),
 (563, 0.004258170239067465),
 (564, 0.0),
 (565, 0.007455654875676439),
 (566, 0.004671031668436195),
 (567, 0.0),
 (568, 0.005667193583278101),
 (569, 0.0),
 (570, 0.010575428683826809),
 (571, 0.0),
 (572, 0.004115946860670394),
 (573, 0.008173334938848278),
 (574, 0.004014378323341338),
 (575, 0.005146874495969572),
 (576, 0.0),
 (577, 0.0),
 (578, 0.007461921095942817),
 (579, 0.0),
 (580, 0.004388082786630659),
 (581, 0.005918001884138832),
 (582, 0.010716458286459212),
 (583, 0.0),
 (584, 0.0),
 (585, 0.0),
 (586, 0.004301330005542106),
 (587, 0.004947250526563544),
 (588, 0.004361539392344133),
 (589, 0.010290594345269856),
 (590, 0.0),
 (591, 0.0),
 (592, 0.0),
 (593, 0.0048482467362203074),
 (594, 0.0),
 (595, 0.0),
 (596, 0.007663351972959123),
 (597, 0.0),
 (598, 0.0),
 (599, 0.003116710200167485),
 (600, 0.003962854188395857),
 (601, 0.005907507108798738),
 (602, 0.0),
 (603, 0.0),
 (604, 0.0),
 (605, 0.0),
 (606, 0.0),
 (607, 0.0),
 (608, 0.0),
 (609, 0.00892188968079666),
 (610, 0.0),
 (611, 0.004349952895697529),
 (612, 0.0),
 (613, 0.0),
 (614, 0.0),
 (615, 0.0),
 (616, 0.26441458639923465),
 (617, 0.0),
 (618, 0.0),
 (619, 0.0),
 (620, 0.0),
 (621, 0.0),
 (622, 0.010891841480317086),
 (623, 0.010491167606720149),
 (624, 0.007662617120911851),
 (625, 0.0),
 (626, 0.006300260863533471),
 (627, 0.0),
 (628, 0.00572352816214415),
 (629, 0.00433236956764294),
 (630, 0.004582643136434841),
 (631, 0.0),
 (632, 0.0),
 (633, 0.004359308806823556),
 (634, 0.0),
 (635, 0.0),
 (636, 0.005359791383749991),
 (637, 0.005463212529844244),
 (638, 0.0063076504893726125),
 (639, 0.013254125168714994),
 (640, 0.0),
 (641, 0.0),
 (642, 0.0),
 (643, 0.012612343958232998),
 (644, 0.0),
 (645, 0.009449150985336524),
 (646, 0.009318487424693706),
 (647, 0.0),
 (648, 0.0053364217683601394),
 (649, 0.0),
 (650, 0.005440307733255852),
 (651, 0.012457870988206195),
 (652, 0.0),
 (653, 0.0),
 (654, 0.0),
 (655, 0.0),
 (656, 0.008170348511348503),
 (657, 0.00871867589345128),
 (658, 0.0),
 (659, 0.0),
 (660, 0.0),
 (661, 0.0),
 (662, 0.0),
 (663, 0.005788758687065188),
 (664, 0.03491720310172788),
 (665, 0.004465517941174978),
 (666, 0.005778311799070569),
 (667, 0.0),
 (668, 0.0),
 (669, 0.007519804254363618),
 (670, 0.0030299260925647823),
 (671, 0.004653902123521844),
 (672, 0.005902621927629027),
 (673, 0.0052890849984061255),
 (674, 0.004315036758179298),
 (675, 0.0),
 (676, 0.00943154481163761),
 (677, 0.0),
 (678, 0.0),
 (679, 0.0030150334668493507),
 (680, 0.0),
 (681, 0.014700730426757137),
 (682, 0.0048899873621773456),
 (683, 0.004619317541737452),
 (684, 0.0),
 (685, 0.0),
 (686, 0.00988205555231248),
 (687, 0.010080126097783576),
 (688, 0.005511642107819636),
 (689, 0.0439361735479308),
 (690, 0.019360435738494382),
 (691, 0.0),
 (692, 0.004881227391646994),
 (693, 0.0145223305887176),
 (694, 0.0),
 (695, 0.0),
 (696, 0.004192130865984103),
 (697, 0.0),
 (698, 0.0),
 (699, 0.0),
 (700, 0.0),
 (701, 0.0),
 (702, 0.0),
 (703, 0.006410676879975106),
 (704, 0.005618956545680991),
 (705, 0.0),
 (706, 0.0),
 (707, 0.0),
 (708, 0.004975883920990466),
 (709, 0.0),
 (710, 0.004001572416773295),
 (711, 0.0),
 (712, 0.0),
 (713, 0.0),
 (714, 0.0),
 (715, 0.006400954667047199),
 (716, 0.010131791807819592),
 (717, 0.013011476942301035),
 (718, 0.010043017393404411),
 (719, 0.0),
 (720, 0.0),
 (721, 0.0),
 (722, 0.0),
 (723, 0.0),
 (724, 0.00995134441219662),
 (725, 0.006532837714937075),
 (726, 0.0),
 (727, 0.006960085998527029),
 (728, 0.0),
 (729, 0.0),
 (730, 0.0027687226500101338),
 (731, 0.0),
 (732, 0.017495775293064033),
 (733, 0.004122493140320685),
 (734, 0.0),
 (735, 0.004402888941125365),
 (736, 0.0),
 (737, 0.006485984867791015),
 (738, 0.007000922904956423),
 (739, 0.0073967500769738246),
 (740, 0.0),
 (741, 0.0),
 (742, 0.0),
 (743, 0.05156726611238993),
 (744, 0.0),
 (745, 0.009903902780094792),
 (746, 0.0),
 (747, 0.0074218518946670775),
 (748, 0.057679913947706385),
 (749, 0.004152260128497288),
 (750, 0.008928197311070698),
 (751, 0.0),
 (752, 0.0),
 (753, 0.0),
 (754, 0.0),
 (755, 0.06647975525152891),
 (756, 0.0),
 (757, 0.0),
 (758, 0.008870684894216658),
 (759, 0.005008414467387742),
 (760, 0.006012744163590477),
 (761, 0.0),
 (762, 0.007213589659240747),
 (763, 0.0),
 (764, 0.0),
 (765, 0.0),
 (766, 0.0),
 (767, 0.004514725518716061),
 (768, 0.012192723226116703),
 (769, 0.0),
 (770, 0.0),
 (771, 0.0),
 (772, 0.0),
 (773, 0.015024941746765287),
 (774, 0.0),
 (775, 0.0),
 (776, 0.0),
 (777, 0.004489912493022421),
 (778, 0.0),
 (779, 0.010351074706904852),
 (780, 0.0),
 (781, 0.0),
 (782, 0.005072172983378484),
 (783, 0.0),
 (784, 0.0),
 (785, 0.0033921958464032745),
 (786, 0.0),
 (787, 0.0),
 (788, 0.0),
 (789, 0.0),
 (790, 0.003957158162009177),
 (791, 0.006936064145240048),
 (792, 0.00930926759078336),
 (793, 0.005459969009335053),
 (794, 0.008771868638598948),
 (795, 0.0),
 (796, 0.0),
 (797, 0.03940197288034785),
 (798, 0.0),
 (799, 0.0),
 (800, 0.0),
 (801, 0.0),
 (802, 0.01254707394338697),
 (803, 0.0),
 (804, 0.0),
 (805, 0.0),
 (806, 0.004170720522319594),
 (807, 0.0),
 (808, 0.007918230060516989),
 (809, 0.0),
 (810, 0.0),
 (811, 0.009246820069583384),
 (812, 0.008903587943756067),
 (813, 0.004823982702277505),
 (814, 0.0),
 (815, 0.01124106595863861),
 (816, 0.004349242500437884),
 (817, 0.008287742748179316),
 (818, 0.0),
 (819, 0.03190943651598472),
 (820, 0.00628846241962513),
 (821, 0.0),
 (822, 0.003799667992985267),
 (823, 0.0),
 (824, 0.008467728637658087),
 (825, 0.0),
 (826, 0.0),
 (827, 0.0299109580260995),
 (828, 0.0),
 (829, 0.004783264983271906),
 (830, 0.005922215174067255),
 (831, 0.0),
 (832, 0.004860705258713726),
 (833, 0.0),
 (834, 0.0),
 (835, 0.00944720889143303),
 (836, 0.0),
 (837, 0.0),
 (838, 0.0),
 (839, 0.0),
 (840, 0.0),
 (841, 0.004570568534960128),
 (842, 0.0),
 (843, 0.0),
 (844, 0.0),
 (845, 0.003174830609886228),
 (846, 0.003694637385687612),
 (847, 0.0),
 (848, 0.00356878729598591),
 (849, 0.0),
 (850, 0.0),
 (851, 0.0),
 (852, 0.0),
 (853, 0.013510755471211564),
 (854, 0.005308875756614039),
 (855, 0.0),
 (856, 0.0),
 (857, 0.007282361457914322),
 (858, 0.0),
 (859, 0.005013602502773054),
 (860, 0.010269129182543786),
 (861, 0.007412665357015617),
 (862, 0.006421692152744269),
 (863, 0.0),
 (864, 0.0),
 (865, 0.0),
 (866, 0.11242739051364987),
 (867, 0.0),
 (868, 0.00817482298696483),
 (869, 0.20311489973210448),
 (870, 0.004542957485633886),
 (871, 0.005123452777474124),
 (872, 0.005708194464120954),
 (873, 0.004213661723817119),
 (874, 0.004097051142104923),
 (875, 0.005431768567917741),
 (876, 0.007904179128232089),
 (877, 0.0),
 (878, 0.006139364082595213),
 (879, 0.006888228941115973),
 (880, 0.0),
 (881, 0.0),
 (882, 0.0),
 (883, 0.0),
 (884, 0.006052106161561141),
 (885, 0.030904631276894995),
 (886, 0.008731979648211936),
 (887, 0.006293387986004944),
 (888, 0.007928113550057438),
 (889, 0.0),
 (890, 0.0),
 (891, 0.0),
 (892, 0.0),
 (893, 0.003910763718827403),
 (894, 0.0),
 (895, 0.0),
 (896, 0.008995790293252877),
 (897, 0.0),
 (898, 0.004610957183796932),
 (899, 0.0),
 (900, 0.006167048521543626),
 (901, 0.009632858104799615),
 (902, 0.004576381039730099),
 (903, 0.0),
 (904, 0.0),
 (905, 0.005703014095505851),
 (906, 0.012318232206589359),
 (907, 0.0),
 (908, 0.0),
 (909, 0.0),
 (910, 0.0),
 (911, 0.0),
 (912, 0.0),
 (913, 0.0),
 (914, 0.0),
 (915, 0.004278807189667369),
 (916, 0.005790214877036874),
 (917, 0.0),
 (918, 0.0),
 (919, 0.009368136646229909),
 (920, 0.0),
 (921, 0.0),
 (922, 0.006867305337679804),
 (923, 0.004441019656761228),
 (924, 0.009650383728366838),
 (925, 0.003314610099174308),
 (926, 0.0),
 (927, 0.0),
 (928, 0.0075197549115487965),
 (929, 0.0),
 (930, 0.004328472187660871),
 (931, 0.0),
 (932, 0.0),
 (933, 0.010694018222100973),
 (934, 0.0),
 (935, 0.0),
 (936, 0.007305917774735072),
 (937, 0.0),
 (938, 0.0),
 (939, 0.0),
 (940, 0.0),
 (941, 0.0076389263656517796),
 (942, 0.0),
 (943, 0.01084438234487903),
 (944, 0.0),
 (945, 0.0),
 (946, 0.0),
 (947, 0.0156376207950589),
 (948, 0.0),
 (949, 0.0032815979995562453),
 (950, 0.012423194547518892),
 (951, 0.0),
 (952, 0.009676038212972214),
 (953, 0.0),
 (954, 0.013427628421842338),
 (955, 0.0),
 (956, 0.0049071228713185025),
 (957, 0.006658327247318205),
 (958, 0.005131559204919013),
 (959, 0.009522442610566919),
 (960, 0.0),
 (961, 0.0),
 (962, 0.009500821930187442),
 (963, 0.0),
 (964, 0.0),
 (965, 0.005102918096805503),
 (966, 0.0063103569152392755),
 (967, 0.0),
 (968, 0.0),
 (969, 0.0),
 (970, 0.0),
 (971, 0.050576863014445944),
 (972, 0.006222465900704843),
 (973, 0.0),
 (974, 0.0),
 (975, 0.004837932522340346),
 (976, 0.0),
 (977, 0.0),
 (978, 0.004415612269419366),
 (979, 0.0),
 (980, 0.0),
 (981, 0.0),
 (982, 0.005987983699813975),
 (983, 0.0),
 (984, 0.0),
 (985, 0.009549565480667762),
 (986, 0.00793398984023747),

###Lets create our own function based on the above understanding

In [ ]:
def movie_name(title,cosine_sim=cosine_sim):
  #Get the index corresponding to original_title
  idx=indices[title]

  #Get the pairwise similarity scores
  cosine_scores=list(enumerate(cosine_sim[idx]))

  #sort movies in descending order of pairwise value and define the lambda function which skips [0] value as its the same as title 
  cosine_scores=sorted(cosine_scores,key=lambda x:x[1],reverse=True)


  #Scores of the 10 most similar movies 
  consine_scores=cosine_scores[1:11]

  #movie indices
  movie_indices=[i[0] for i in consine_scores]

  #top 10 most similar movies
  return movies_cleaned_df['original_title'].iloc[movie_indices]

In [ ]:
title=input('Provide the name of the Movie\n')
print('\n')
movie_name(title)

Provide the name of the Movie
Newlyweds

616                       Ted 2
2689         Our Family Wedding
869          You, Me and Dupree
3969           Something Wicked
1576                 Bride Wars
2290               Just Married
1032      America's Sweethearts
3145                      Amour
2531     Why Did I Get Married?
504     The Secret Life of Pets
Name: original_title, dtype: object

#**Our algorithm is working good , hope you liked it**